{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="settle__up">
    <div class="main__wrapper">
        <form method="POST" class="form settle__up-form" style="background-image: url({% static 'media/settle-up.png' %});">
            {% csrf_token %}
            <a class="custom-icon exit" href="{% url 'detail' group_id %}" style="background-image: url({% static 'media/x.svg' %});"></a>
            <div class="form__title">New Group</div>



            <div class="form__item" style="border-bottom: none;">
                <div class="form__group">
                    <label for="amount">Name</label>
                    {{form.name}}
                </div>

            </div>
            <div class="btn__box" style="border-bottom: none;">
            <button type="submit" class="custom__btn" style="margin-top: 40px;">Create</button>
            {% if object %}
                    <a href="{% url 'delete' group.id %}" class="custom__btn" style="background: #F15634;">Delete</a>
            {% endif %}
                </div>

        </form>
    </div>

</section>

{% endblock %}


